@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Mitr:wght@200;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	min-height: 100% !important;
	height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.bg{
	background: url("/pexels.jpg");
	background-size:cover;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	width:100%;
	height:1080px;
	position:relative;
	top:0;
	left:0;
}

.bg::before{
	content:"";
	display:block;
	width:100%;
	height:100%;
/*	background:linear-gradient(rgba(1,68,116,0.7), rgba(110,135,147,0.7));*/
	background:rgba(0,0,0,.7);
	position:absolute;
	top:0;
	left:0;
}

.text_center{
	text-align: center;
	z-index: 1;
	position:relative;
}

.heading{
	color:white;
	z-index: 1;
	position:relative;
	font-family: 'Mitr', sans-serif;
/*	font-family: 'Krona One', sans-serif;*/
}

.fa-glasses{
	font-size: 90px !important;
}

.nav{
	position:relative;
	color:white;
	z-index: 1;
	text-align: center;
}

.navLink{
	margin-left:15px;
	margin-right:15px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

.navLink:hover{
	color:#009146;
}

img{
	max-width: 100%;
}

.logo{
	margin-top:8rem;
	opacity: 0;
}

.fade-in {
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 4s; /* don't forget to set a duration! */
  animation-fill-mode: forwards;
}

.fade-in-left{
	animation: fadeInLeft;
	animation-duration:2s;
	animation-fill-mode: forwards;
}
.delay{
	animation-delay: 0.5s;
}

.ctaBtn{
	opacity: 0;
	border:3px solid white !important;
	transition:1.1s all !important;
	color:white !important;
	border-radius:15px !important;
}

.ctaBtn:hover{
	background:white !important;
	color:black !important;
}

.bg2{
	background: url("/vision.jpg");
	background-size:cover;
	background-attachment: fixed;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:100%;
	height:600px;
	position:relative;
	color:white;
}

.bg2::before{
	content:"";
	display:block;
	width:100%;
	height:100%;
	background:rgba(0, 93, 157, .75);
	position:absolute;
	top:0;
	left:0;
}

.bg2 h1, .bg2 p{
	position:relative;
	z-index: 1;
}

.imgZ{
	background:url("https://via.placeholder.com/400x400");
	height:400px;
	width: 100%;
	background-size:cover;
	border:1px solid white;
	transition:0.8s all;
	cursor:pointer;
}

.imgZ:hover{
	filter:brightness(0.8);
}

.bg3{
	background: url("/white_bg.jpg");
	background-size:cover;
	background-attachment: fixed;
	width:100%;
	height:800px;
	position:relative;
	color:white;
}

.bg3::before{
	content:"";
	display:block;
	width:100%;
	height:100%;
	background:rgba(0, 144, 212, .7);
	position:absolute;
	top:0;
	left:0;
}

.bg3 p, .bg3 h1, .bg3 div{
	position:relative;
	z-index:999;
}

.grid-div-cnt{
	height: calc(800px - 85px);
}

.inner{
	padding:80px;
}

.icon i{
	font-size: 70px;
	margin-top:-3rem;
	margin-bottom:2rem;

}

.icon{
	text-align: center;
}

footer{
	position:relative;
	background:url("/test.jpg");
	background-size:cover;
	background-attachment: fixed;
	height:400px !important;
	width:100%;
	position:relative;
}

footer::after{
	position:absolute;
	top:0;
	left:0;
	content:"";
	display:block;
	background: rgba(0,0,0,.8);
	width:100%;
	height: 100%;
}

.footer_text{
	color:white;
}

footer p {
	margin-bottom:0;
	margin-top:0;
}

footer .navLink {
	display: inline-block;
	width:100%;
	margin: 0;
	margin-top:0.5rem;
	margin-bottom: 0.5rem;
}

footer > .MuiGrid-root >.MuiGrid-root >.footer_text > nav{
	text-align:left !important;
}

.navLink i{
	font-size: 30px !important;
}

.fwidth{
	width:60%;
	padding-top:2rem;
}

footer h4, footer img, footer p{
	position: relative;
	z-index: 1;
}

.navLink{
	transition:.5s all;
}